html {
  font-family: Onest Variable, system-ui, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
  color: white;
  background-color: rgb(3 7 18);
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,#7877c64d,#fff0);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: start;
  overscroll-behavior: none;
  line-height: inherit;
  align-items: center;
}

header, footer {
  text-align: center;
  padding: 1em;
}

header h1 {
  font-size: 3rem;
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 65vh;
  padding: 2em;
  gap: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.profile img {
  width: 64px;
  border-radius: 50%;
  outline-style: outset;
  outline-color: #66a0e1c5;
  box-shadow: 1px 1px 15px #7877c64d;
}

.skills h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.skills li {
  background-color: #e0e0e0;
  background: radial-gradient(circle, rgba(46, 44, 112, 0.765) 0%, rgba(31, 31, 31, 0.68) 74%);
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #7877c64d;
  text-align: center;
  transition: all ease-in 100ms;
}

.skills li:hover {
  transform: scale(1.05);
  transition: all ease-in 100ms;
}

li > svg {
  width: 15px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-right: 5px;
  vertical-align: middle;
}

li > h3 {
  display: inline-flex;
}

li > h3:hover {
  color: rgb(250 204 21);
  transition: all ease-in 100ms;
  cursor: pointer;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.social-links a {
  color: #007acc;
}

.social-links a:hover {
  color: #82b3d3;
}

/* Responsive adjustments */
@media (max-width: 960px) {
  .skills ul {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills ul {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  main {
    padding: 1em;
  }
}
